html { height: 100%; }
body { font: 90%/1.5em Arial, Helvetica, sans-serif; height: 100%;  background-color: #fff; color: #333; }

h1 { font-size: 1.8em; margin-bottom: 20px; }
h2 { font-size: 1.2em; font-weight: normal; letter-spacing: -.5px; text-shadow: 0px 1px 0px #fff; }
h3 { font-size: 1.2em; margin-bottom: 20px; }
.news h2 { color: #2b2b2b; }

a { color: #777; text-decoration: none; }
a:hover { text-decoration: underline; }

#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -23px; } /* sticky footer */
.top_links { font-size: .9em; }

nav { margin-bottom: 12px; }
nav ul li { float: left; margin-right: -10px; padding: 10px 20px; background: rgb(232, 33, 71); background: rgba(232, 33, 71, .80); text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }
nav ul li.topic1 { background: rgb(232, 33, 71); background: rgba(232, 33, 71, .80); color: #2b2b2b; }
nav ul li.topic2 { background: rgb(237, 227,29); background: rgba(237, 227, 29,.80); color: #2b2b2b; }
nav ul li.topic3 { background: rgb(181, 237,29); background: rgba(181, 237,29, .80); color: #2b2b2b; }
nav ul li.topic4 { background: rgb(29, 222,237); background: rgba(29, 222,237, .80); color: #2b2b2b; }

#content { margin-bottom: 40px; padding: 10px; min-width: 770px; }
.news { border-top: 4px solid; margin-bottom: 4px; background-color: #EDEDED; padding: 5px; position: relative;  }
.news:hover {}

.news h2 a { color: #333; }
.news .domain{ font-size: .7em;  text-shadow: 0px 1px 0px #fff; color: #777; }
.recent { background-color: #DBDBDB; }

.news_content { overflow: hidden; position: relative; padding-left: 10px;}
.news img.thumb { display:none;}
.news:hover img.thumb { float: right; border: 1px solid #ddd; padding: 4px; background: #fff; margin-right: 3%; }
.topic1 { color: rgb(232, 33, 71); color: rgba(232, 33, 71, .80); }
.topic2 { color: rgb(237, 227,29); color: rgba(237, 227, 29, .80); }
.topic3 { color: rgb(181, 237,29); color: rgba(181, 237,29, .80); }
.topic4 { color: rgb(29, 222,237); color: rgba(29, 222,237, .80); }

.stats { border: 1px solid #d1d1d1; left: -32px; top: 2px; background: #fff; padding: 3px; text-align: center; color: #6b6b6b; font-size: .8em; }

.news h2 { height: 20px; }
.news:hover h2 { height: auto; }
.news .post-counts { display: none; }
.news:hover .post-counts { display: block; }
.post-counts a { padding-left: 22px; background-position: left; background-repeat: no-repeat; }
.post-counts a.reddit { background-image: url('i/ico/reddit-16x16.gif'); }
.post-counts a.mefi   { background-image: url('i/ico/metafilter-16x16.png'); }
.post-counts a.fark   { background-image: url('i/ico/fark-16x16.gif'); }
.post-counts a.ynews  { background-image: url('i/ico/hackernews-18x18.gif'); }

.close_btn { float: right; z-index: 2; position: absolute; right: 5px; display: none; }
.news:hover span.close_btn { display: inline; }

#filter { background: url('/images/filter_bg.png') repeat-x #EEEDED; padding: 10px; border: 1px solid #ddd; color: #777; text-shadow: 0px 1px 0px #fff; }
#filter form { margin-bottom: 15px; }
#filter form label { color: #5b5b5b; display: block; }
#filter ul li { position: relative; display: inline; font-size: .9em;  border: 1px solid #ddd; padding: 2px 10px 2px 10px; margin: 0px 3px 5px 0px; 
				background: url('/images/button_bg.png') repeat-x #ededed;  /* backup gradient image */
				background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED); -moz-border-radius: 10px; /* FF */
				-webkit-border-radius: 10px; /* Webkit */
				 }
#filter ul li a { padding-right: 20px; }
#filter ul li a:hover { text-decoration: none; background: url('i/ico/remove_filter.png') right no-repeat; }
#filter ul li:hover { -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2); background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED); 
					border: 1px solid #ddd; color: #4b4b4b; }
#filter ul li:hover span { display: inline;  }

footer { display: block; height: 23px; margin-top: -23px; background: #444; color: #d7d7d7; font-size: .8em; }
