html { height: 100%; }
body { font: 90%/1.5em Arial, Helvetica, sans-serif; height: 100%;  background-color: #fff; color: #333; }

h1 { font-size: 1.8em; margin-bottom: 20px; }
h2 { font-size: 1.2em; font-weight: normal; letter-spacing: -.5px; text-shadow: 0px 1px 0px #fff; }
h3 { font-size: 1.2em; margin-bottom: 20px; }
.news h2 { color: #2b2b2b; }

a { color: #777; text-decoration: none; }
a:hover { text-decoration: underline; }

#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -23px; } /* sticky footer */
.top_links { font-size: .9em; }

#header { background: #fff; height: 10px; min-width: 770px; }
#header h2 { text-shadow: none; color: #fff; }

#logo { position:absolute; right: 20px; top: 15px; }

#topic_wrapper, ul#topics { margin: 0; }

nav { margin-bottom: 12px; background: #f2f2f2; }
nav ul li { float: left; margin-right: -10px; padding: 10px 20px; background: #ED4D6C; background: rgba(232, 33, 71, .80); text-transform: uppercase; font-weight: bold; letter-spacing: 1px; }
nav ul li a { color: #2b2b2b; }
nav ul li.community { background: #ED4D6C; background: rgba(232, 33, 71, .80); } /* pink */
nav ul li.entertainment { background: #F1E94A; background: rgba(237, 227, 29,.80); } /* yellow*/
nav ul li.funny{ background: rgba(234, 170,10, .80); } /* orange */
nav ul li.programming  { background: #C4F14A; background: rgba(181, 237,29, .80); } /* green */
nav ul li.science {  background: rgba(29, 222,237, .80); } /* light blue */
nav ul li.technology { background: rgba(36, 226,190, .80); }  /* turq*/
nav ul li.worldnews {  background: rgba(33, 156,232, .80); }  /* blue*/

nav ul li.disabled { background: #dddddd; background: rgba(190, 190,190, .50);  }
nav ul li.disabled a { color: #888; }

#content { margin-bottom: 40px; padding: 10px; min-width: 770px; }
#content .news { border-top: 4px solid; margin-bottom: 4px; background-color: #EDEDED; padding: 5px; position: relative;  }
#content .news:hover {}
#content .news.disabled { display: none; }


#content .news h2 a { color: #333; }
#content .news .domain{ font-size: .7em;  text-shadow: 0px 1px 0px #fff; color: #777; }
.recent { background-color: #DBDBDB; }

.news_content { overflow: hidden; position: relative; padding-left: 10px;}
.news img.thumb { display:none;}
.news:hover img.thumb { float: right; border: 1px solid #ddd; padding: 4px; background: #fff; margin-right: 3%; }
.news .loaded-stamp { display:none; }
.community {  color: rgba(232, 33, 71, .80); }
.entertainmnet {  color: rgba(237, 227, 29,.80); }
.funny {  color: rgba(181, 237,29, .80); }
.programming { color: rgba(29, 222,237, .80); }
.science {  color: rgba(36, 226,190, .80); }
.technology { color: rgba(234, 170,10, .80); }
.worldnews { color: rgba(33, 156,232, .80); }

.stats { border: 1px solid #d1d1d1; left: -32px; top: 2px; background: #fff; padding: 3px; text-align: center; color: #6b6b6b; font-size: .8em; }

.news h2 { height: 20px; }
.news:hover h2 { height: auto; }
.news .post-counts { display: none; }
.news:hover .post-counts { display: block; height: 25px; }
.post-counts a { padding-left: 24px; display: inline-block; overflow: hidden; height: 20px; margin-right: 3px; }

.post-counts a.mefi  { background: url('/images/icons/metafilter_icon.png') 0 -21px no-repeat; }
.post-counts a.mefi:hover { background-position: 0 0px; }
.post-counts a.fark  { background: url('/images/icons/fark_icon.png') 0px -21px no-repeat; }
.post-counts a.fark:hover { background-position: 0 0px; }
.post-counts a.reddit  { background: url('/images/icons/reddit_icon.png') 0 -21px no-repeat; }
.post-counts a.reddit:hover { background-position: 0 0px; }
.post-counts a.ynews  { background: url('/images/icons/hackernews_icon.png') 0 -21px no-repeat; }
.post-counts a.ynews:hover { background-position: 0 0px; }


.close_btn { float: right; z-index: 2; position: absolute; right: 5px; display: none; }
.news:hover span.close_btn { display: inline; }

#filter { margin-top: 48px; background: url('/images/filter_bg.png') repeat-x #EEEDED; padding: 10px; border: 1px solid #ddd; color: #777; text-shadow: 0px 1px 0px #fff; }
#filter form { margin-bottom: 15px; }
#filter form label { color: #5b5b5b; display: block; }
#filter ul li { position: relative; display: inline-block; font-size: .9em;  border: 1px solid #ddd; padding: 2px 10px 2px 10px; margin: 0px 3px 5px 0px; 
				background: url('/images/button_bg.png') repeat-x #ededed;  /* backup gradient image */
				background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED); -moz-border-radius: 10px; /* FF */
				-webkit-border-radius: 10px; /* Webkit */
				 }
#filter ul li a { padding-right: 20px; }
#filter ul li a:hover { text-decoration: none; background: url('i/ico/remove_filter.png') right no-repeat; }
#filter ul li:hover { -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2); background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED); 
					border: 1px solid #ddd; color: #4b4b4b; }
#filter ul li:hover span { display: inline;  }

.four04 { background: url('/images/404.gif') no-repeat 0 55px; height: 360px; }

footer { display: block; height: 23px; margin-top: -23px; background: #f2f2f2; color: #555; font-size: .8em; text-align: center; }
