html { height: 100%; }
body { font: 90%/1.5em “Arial”, Helvetica, sans-serif; height: 100%;  background-color: #fff; color: #333; }

h1 { font-size: 1.8em; margin-bottom: 20px; }
h2 { font-size: 1.5em; margin-bottom: 20px; }
h3 { font-size: 1.2em; margin-bottom: 20px; }

a { color: #11D3ED; text-decoration: none; }
a:hover { text-decoration: underline; }

#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -23px; } /* sticky footer */

footer { display: block; height: 23px; margin-top: -23px; background: #444; color: #d7d7d7; font-size: .8em; }