<div class="grid_9">
	<div class="news tech">
		<h2>News title</h2>
		<a href="#">link</a>
		<div class="stats">123</div>
	</div>

	<div class="news funny">
		<h2>News title</h2>
		<a href="#">link</a>
		<div class="stats">123</div>
	</div>

	<div class="news science">
		<h2>News title</h2>
		<a href="#">link</a>
		<div class="stats">123</div>
	</div>
</div>

<div id="grid_3">
	right col
	</div>