<div class="grid_9">
  <%= will_paginate @links %>
  
  <% @links.each do |post| %>
    <div class="news topic4 recent clearfix"> <!-- colour classes = one for each topic + either 'recent' or not -->
      <!--div class="stats grid_1"> 123 </div-->
      <div class="news_content">
        <h2><%= link_to post.title, post.url %> <span class="domain">newsweek.com</span></h2>
          <div class="post-counts">
            <a class="reddit" href="#">4</a>
            <a class="ynews" href="#">1</a>
            <a class="fark" href="#">1</a>
            <a class="mefi" href="#">2</a>
          </div>

        <!--p class="sources">posted 4 times - <a href="#">reddit</a> (<a href="#">3</a>) <a href="#">Hacker News</a> (1)</p-->
      </div>
      <img src="/images/placeholder.jpg" class="thumb" width="70px" height="70px" alt="placeholder" title="placeholder"/>
    </div>
  <% end %>

</div>

<div id="filter_wrapper" class="grid_3">
  <div id="filter">
    <form action="" method="">
      <label>Don't show:</label>
      <select id="filter-list">
        <option value="headline">headline only</option>
        <option value="self">self posts</option>
        <option value="videos">videos</option>
        <option value="pictures">pictures</option>
        <option value="dae">does anyone else...</option>
        <option value="pets">"my dog", "my cat"</option>
        <option value="girlfriend">"my girlfriend"</option>
        <option value="nsfw">nsfw</option>
        <option>custom filter...</option>
      </select>
      <input type="submit" value="add" />
    </form>
    <ul id="selected-filters">
    </ul>
  </div>
</div>
