<div class="grid_9">
	
	<div class="news topic4 recent clearfix"> <!-- colour classes = one for each topic + either 'recent' or not -->
		<div class="stats grid_1">123</div>
		<div class="news_content grid_8">
			<h2><a href="#">Google upgrades site-overlay feature in Analytics with In-Picture Analytics</a></h2>
			<p class="source">newsweek.com</a>
		</div>
		<img src="/images/placeholder.jpg" width="70px" height="70px" alt="placeholder" title="placeholder"/>
	</div>
	
	<div class="news topic1 clearfix">
		<div class="stats grid_1">123</div>
		<div class="news_content grid_9">
			<h2><a href="#">News title</a></h2>
			<p class="source">newsweek.com</a>
		</div>
	</div>

	<div class="news topic3 clearfix">
		<div class="stats grid_1">123</div>
		<div class="news_content grid_9">
			<h2><a href="#">News title</a></h2>
			<p class="source">newsweek.com</a>
		</div>
	</div>

	<div class="news topic2 clearfix">
		<div class="stats grid_1">123</div>
		<div class="news_content grid_9">
			<h2><a href="#">News title</a></h2>
			<p class="source">newsweek.com</a>
		</div>
	</div>
</div>

<div id="grid_3">
	right col
	</div>